<div class="card mb-3 mt-1 shadow-sm">
  <div class="card-body">
    <p class="card-text">
      Имя пользователя: {{ user.username|linebreaksbr }}
    <p>
      Статус регистрации в боте: {{ user.status|linebreaksbr }}
    </p>
    {% if user.status == False %}
      <a class="btn btn-sm btn-success" href="{% url 'register' user.id %}" role="button">
        Зарегистрировать в боте
      </a>
    {% else %}
      <a class="btn btn-sm btn-primary" href="{% url 'weather' user.id %}" role="button">
        Отправить погоду
      </a>
    {% endif %}
  </div>
</div>